body{
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 5%;
    font-family: Roboto;
}
.home{
    padding-left: 3%;
    padding-right: 3% ;
    padding-bottom: 3% ;
    padding-top: 1%;
    text-align: center;
}
.home .displayFlex{
    display: flex;
    justify-content: space-between;
}
.divHome{
    width: 30%;
}
ul {
    list-style: upper-roman outside none;
}
.startAlign{
    text-align: start;
}


.iForm{
    text-align: center;
    color: black;
}
input,
select {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    border-style: none;
    border-bottom: 1px solid #C4C4C4;
    width: 40%;
    margin: 1%;
}
input::placeholder {
    color: black;
    /* padding-left: 6%; */
    font-size: 18x;
    text-align: start;
}
button {
    background: #007fff;
    border-radius: 14px;
    font-family: Roboto;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #EEEEEE;
}
span{
    font-size: 20px;
}
table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}
table th{
    text-align: start;
}
table td{
    padding-top: 2%;
}
.tableH2 h2{
    text-align: center;
}
.navi {
    margin-top: 0 auto;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 1%;


}
a {
    font-size: 20px;
    padding-right: 8.5%;
    padding-left: 12.5%;
    font-weight: bolder;
    text-transform: uppercase;
    color: #007fff;
    text-decoration: none;
}
